<mat-toolbar class="navbar-container">

        <span class="header-text" routerLink="">
            ZenduForms
        </span>

        <div class="navbar-submenu-spacer"> </div>
        
        <a mat-button class="navbar-mat-button"> 
            <mat-icon class="navbar-submenu-icon">format_list_bulleted</mat-icon>
            <div class="navbar-submenu-context"> Forms</div> 
        </a>
        <a mat-button class="navbar-mat-button"> 
            <mat-icon class="navbar-submenu-icon">people</mat-icon>
            <div class="navbar-submenu-context"> Customers</div> 
        </a>
        <a mat-button class="navbar-mat-button" routerLink="submissions">
            <mat-icon class="navbar-submenu-icon">graphic_eq</mat-icon> 
            <div class="navbar-submenu-context"> Submissions</div> 
        </a>
        <a mat-button class="navbar-mat-button">
            <mat-icon class="navbar-submenu-icon">history</mat-icon> 
            <div class="navbar-submenu-context"> History</div> 
        </a>
        <a mat-button class="navbar-mat-button">
            <mat-icon class="navbar-submenu-icon">insert_chart_outlined</mat-icon> 
            <div class="navbar-submenu-context"> Reports</div> 
        </a>
        <a mat-button class="navbar-mat-button">
            <mat-icon class="navbar-submenu-icon">insert_chart_outlined</mat-icon> 
            <div class="navbar-submenu-context"> Workflow</div> 
        </a>   
        
        <span></span>

        <mat-icon class="navbar-notification">notifications</mat-icon>
        <mat-icon class="navbar-logout">logout</mat-icon>

</mat-toolbar>  
