.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    gap: 40px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 91.67%;
    background: #2188D9;
    width: fit-content;
}
.header-text {
    width: 198px;
    height: 45.26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.navbar-submenu-spacer {
    margin-left: 40px;
}
.navbar-mat-button {
    width: 169px;
    height: 72px;
}
.navbar-submenu-context {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: fit-content;
    height: fit-content;
}
.navbar-mat-button:hover {
    background-color:#1773BB;
    height: 62px;
}
.navbar-submenu-icon {
    color: #FFFFFF;
    width: 19px;
    height: 18px;
}
.navbar-submenu-account {
    align-items: center;
    max-width: fit-content;
    margin-inline-start: -50px;
}
.navbar-notification {
    margin-top: 10px;
    color:#FFFFFF;
}
.navbar-notification:hover {
    transform: scale(1.5);
}
.navbar-logout {
    margin-left: 15px;
    color: #FFFFFF;
}
.navbar-logout:hover {
    transform: scale(1.5);
}
.navbar-smallscreen-submenu {
    display: none;
}
.navbar-submenu-spacer-five{
    padding: 15px;
}

@media only screen and (max-width: 600px) {
    .navbar-container {
        width: 100%;
    }
    .navbar-submenu {
        display: none;
    }
    .navbar-submenu-account {
        display: none;
    }
    .navbar-smallscreen-submenu {
        display: flex;
        margin-left: -80px;
    }
    .navbar-submenu-spacer {
        margin-left: -150px;
    }
}