<app-navigation-bar> </app-navigation-bar>

<mat-label class="submissions-label-header">Submissions</mat-label>

<br />

<div class="submissions-content-form">
    <mat-form-field class="submissions-content-search" appearance="outline">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search...">
    </mat-form-field>
    <span class="submission-content-spacer"></span>
    <mat-form-field class="submissions-content-select-form" appearance="outline">
        <mat-label>Select Form</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
    </mat-form-field>
    <span class="submission-content-spacer"></span>
    <mat-form-field class="submissions-content-select-status" appearance="outline">
        <mat-label>Select Status</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
    </mat-form-field>
    <span class="submission-content-spacer"></span>
    <mat-form-field class="submissions-content-datepicker" appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <span class="submission-content-spacer"></span>
    <span class="submission-content-spacer"></span>
    <span class="submission-content-spacer"></span> 
    <mat-button-toggle-group class="submissions-content-toggle-group" name="submissions-list">
        <mat-button-toggle class="submissions-content-toggle-map" value="Map" (click)="enableMapComponent(true)">Map</mat-button-toggle>
        <mat-button-toggle class="submissions-content-toggle-list" value="List" (click)="enableMapComponent(false)" checked>List</mat-button-toggle>
    </mat-button-toggle-group>
    <span class="submission-content-spacer"></span>
    <div class="submissions-content-export">
        <mat-icon class="submissions-content-export-icon">sim_card_download</mat-icon>
        <a mat-button class="submissions-content-export-button" color="#2188D9" routerLink="" appearance="outline">
            <mat-label class="submissions-content-export-button-label">Export</mat-label>
        </a>
    </div>  
</div>
<br/>
<div class="submissions-component-context">
    <div *ngIf="loadMapComponent; else elseBlock">
        <mat-card class="submissions-component-context-map">
          <mat-card class="submission-context-map-listComponent">
            <mat-card-content>
                <div class="submission-content-map-listbox" *ngFor="let item of [0, 1, 2];">
                  <mat-card class="submission-context-map-listData">
                    <mat-card-header lass="submission-context-map-listHeader">
                      <div class="submission-map-list-header">
                        <p>{{arrayofSubmissions[item].Task}}</p>
                        <span class="submission-content-spacer"></span>
                        <span class="submission-content-spacer"></span>
                        <span class="submission-content-spacer"></span>
                        <span class="submission-content-spacer"></span>
                        <div [ngSwitch]="arrayofSubmissions[item].Status">
                          <div *ngSwitchCase="'Unassigned'">
                            <div class="submission-map-Unassigned-button">
                              <mat-icon class="submission-table-unassigned-circle-icon">fiber_manual_record</mat-icon>
                              <p class="submission-table-unassigned-text">Unassigned</p>
                            </div>
                          </div>
                          <div *ngSwitchCase="'Low Risk'">
                            <div class="submission-map-lowrisk-button">
                              <mat-icon class="submission-table-lowrisk-circle-icon">fiber_manual_record</mat-icon>
                              <p class="submission-table-lowrisk-text">Low Risk</p>
                            </div>
                          </div>
                          <div *ngSwitchCase="'Uncomplete'">
                            <div class="submission-map-Uncomplete-button">
                              <mat-icon class="submission-table-uncomplete-circle-icon">fiber_manual_record</mat-icon>
                              <p class="submission-table-Uncomplete-text">Uncomplete</p>
                            </div>
                          </div>
                          <div *ngSwitchDefault>Please enter valued status</div>
                        </div>
                      </div>
                    </mat-card-header>
                    <mat-card-content>
                      <mat-list class="submission-map-list-context">
                        <mat-list-item class="map-list-context-list">
                          <p class="map-list-from-text">
                            From: <mat-label class="map-list-from-subText">{{arrayofSubmissions[item].From}}</mat-label>
                          </p>
                        </mat-list-item>
                        <mat-list-item class="map-list-context-list">
                          <p class="map-list-to-text">
                            To: <mat-label class="map-list-to-subText">{{arrayofSubmissions[item].To}}</mat-label>
                          </p>
                        </mat-list-item>
                        <mat-list-item class="map-list-context-list">
                          <p class="map-list-dueDate-test">
                            Due Date: <mat-label class="map-list-dueDate-subText">{{arrayofSubmissions[item].Due_Date}}</mat-label>
                          </p>
                        </mat-list-item>
                      </mat-list>
                    </mat-card-content>
                  </mat-card>
                  <span class="submission-content-spacer-five"></span>
                </div>
            </mat-card-content>
          </mat-card>
          <span class="submissions-component-context-map-spacer"> </span>
          <mat-card class="submission-context-map-mapComponent">
            <mat-card-content>
              <iframe class="submission-context-mapComponent-map"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
              src="https://www.openstreetmap.org/export/embed.html?bbox=-77.05278396606445%2C38.885956222285216%2C-77.02518939971924%2C38.89696237545183
              &amp;layer=mapnik&amp;marker=38.89145951204772%2C-77.03898668289185"></iframe>
            </mat-card-content>
          </mat-card>
        </mat-card>
    </div>
    <ng-template #elseBlock>
        <mat-card class="submissions-component-context-list">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="Select">
                <th mat-header-cell *matHeaderCellDef> 
                  <mat-checkbox color="primary"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element"> 
                  <mat-checkbox color="primary"></mat-checkbox>
                </td>
              </ng-container>
          
              <ng-container matColumnDef="Task">
                <th mat-header-cell *matHeaderCellDef> Task </th>
                <td mat-cell *matCellDef="let element"> {{element.Task}} </td>
              </ng-container>
          
              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> 
                  <div [ngSwitch]="element.Status">
                    <div *ngSwitchCase="'Unassigned'">
                      <div class="submission-table-Unassigned-button">
                        <mat-icon class="submission-table-unassigned-circle-icon">fiber_manual_record</mat-icon>
                        <p class="submission-table-unassigned-text">Unassigned</p>
                      </div>
                    </div>
                    <div *ngSwitchCase="'Low Risk'">
                      <div class="submission-table-lowrisk-button">
                        <mat-icon class="submission-table-lowrisk-circle-icon">fiber_manual_record</mat-icon>
                        <p class="submission-table-lowrisk-text">Low Risk</p>
                      </div>
                    </div>
                    <div *ngSwitchCase="'Uncomplete'">
                      <div class="submission-table-Uncomplete-button">
                        <mat-icon class="submission-table-uncomplete-circle-icon">fiber_manual_record</mat-icon>
                        <p class="submission-table-Uncomplete-text">Uncomplete</p>
                      </div>
                    </div>
                    <div *ngSwitchDefault>Please enter valued status</div>
                  </div>
                </td>
              </ng-container>
          
              <ng-container matColumnDef="From">
                <th mat-header-cell *matHeaderCellDef> From </th>
                <td mat-cell *matCellDef="let element"> {{element.From}} </td>
              </ng-container>
          
              <ng-container matColumnDef="To">
                <th mat-header-cell *matHeaderCellDef> To </th>
                <td mat-cell *matCellDef="let element"> {{element.To}} </td>
              </ng-container>

              <ng-container matColumnDef="Customer_Address">
                <th mat-header-cell *matHeaderCellDef> Customer Address </th>
                <td mat-cell *matCellDef="let element"> {{element.Customer_Address}} </td>
              </ng-container>

              <ng-container matColumnDef="Due_Date">
                <th mat-header-cell *matHeaderCellDef> Due Date </th>
                <td mat-cell *matCellDef="let element"> {{element.Due_Date}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator #matPage [pageSizeOptions]="[6, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div> 
        </mat-card>
    </ng-template>
</div>