.submissions-content-form {
    display: flex;
    align-items: baseline;
    font-family: 'Roboto';
    font-style: normal;
}
.submissions-label-header {
    position: absolute;
    width: 186px;
    height: 45px;
    left: 40px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 140%;
    color: #060C1B;
    display: flex;
    align-items: center;
}
.submissions-content-search {
    justify-content: center;
    margin-top: 130px;
    margin-left: 40px;
    width: 334px;
    height: 48px;
    background: #FFFFFF;
}
.submission-content-spacer {
    padding: 15px;
}
.submissions-content-select-form {
    width: 209px;
    height: 48px;
}
.submissions-content-select-status {
    width: 209px;
    height: 48px;
}
.submissions-content-datepicker {
    width: 209px;
    height: 48px;
}
.submissions-content-toggle-group {
    background: #FFFFFF;
    color: #060C1B;
}
.submissions-content-toggle-map {
    width: 100px;
    height: 48px;
    border: 2px solid #B8B9BC;
}
.submissions-content-toggle-list {
    width: 100px;
    height: 48px;
    border: 2px solid #B8B9BC;
}
.mat-button-toggle-checked {
    color: #FFFFFF;
    background-color: #2188D9;
    border-color: #2188D9;
}
.submissions-content-export {
    justify-content: center;
    align-items: baseline;
}
.submissions-content-export-button {
    color: #2188D9;
    margin-left: -5px;

}
.submissions-content-export-icon {
    color: #2188D9;
    text-decoration-color: #2188D9;
    margin-bottom: -8px;
}
.submissions-content-export-button-label {
    color: #2188D9;
}
.submissions-component-context-map {
    margin-left: 40px;
    display: -webkit-inline-box;
    box-shadow: none;
}
.submissions-component-context-list {
    margin-left: 38px;
    width: fit-content;
}
.mat-elevation-z8 {
    box-sizing: border-box;
    width: 1456px;
    height: 480px;
    left: 40px;
    top: 261px;
    background: #FFFFFF;
    border: 1px solid #ECECED;
    box-shadow: 0px 2px 10px rgba(6, 12, 27, 0.1);
    border-radius: 8px;
}
.submission-table-lowrisk-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 8px;
    width: 117px;
    height: 32px;
    left: 16px;
    top: 8px;
    background: #D7E5DA;
    border: 1px solid #53D86A;
    border-radius: 4px;
}
.submission-table-Unassigned-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 8px;
    width: 117px;
    height: 32px;
    left: 16px;
    top: 8px;
    background: #ECECED;
    border: 1px solid #B8B9BC;
    border-radius: 4px;
}
.submission-table-Uncomplete-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 4px 16px;
    gap: 8px;
    width: 117px;
    height: 32px;
    left: 16px;
    top: 8px;
    background: rgba(255, 61, 0, 0.1);;
    border: 1px solid #FF3D00;
    border-radius: 4px;
}
.submission-table-unassigned-circle-icon {
    margin-left: -13px;
    color: #B8B9BC;
    background: transparent;
    transform: scale(0.7);
}
.submission-table-lowrisk-circle-icon {
    margin-left: -30px;
    color: #53D86A;
    background: transparent;
    transform: scale(0.7);
}
.submission-table-uncomplete-circle-icon {
    margin-left: -12px;
    color: #FF3D00;
    background: transparent;
    transform: scale(0.7);
}
.submission-table-unassigned-text {
    margin-left: -5px;
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px; 
    color: #B8B9BC;
}
.submission-table-lowrisk-text {
    margin-left: -10px;
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px; 
    color: #53D86A;
}
.submission-table-Uncomplete-text {
    margin-left: -5px;
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px; 
    color: #FF3D00;
}
.submissions-component-context-map-spacer {
    padding: 20px;
}
.submission-context-map-listComponent {
    width: 459px;
    box-shadow: none;
}
.submission-context-map-mapComponent {
    width: 975px;
    height: 485px;
    box-shadow: none;
}
.submission-context-mapComponent-map {
    margin-top: -15px;
    margin-left: -15px;
}

@media only screen and (max-width: 600px) {
    .submissions-content-form {
        display: grid;
    }
    .submissions-content-select-form {
        margin-left: 40px;
    }
    .submissions-content-select-status {
        margin-left: 40px;
    }
    .submissions-content-datepicker {
        margin-left: 40px;
    }
    .submissions-content-toggle-group {
        margin-left: 40px;
        max-width: 180px;
    }
    .submissions-content-export {
        margin-left: 40px;
    }
}